@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    font-size: 16px;
    font-family: 'Courier Prime', monospace, 'Roboto', sans-serif;

    background: green;

    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    width: 20px;
    height: 20px;
}

.quote-box {

    width: 90%;
    max-width: 1000px;

    height: fit-content;
    max-height: 90vh;

    overflow: auto;
    padding: 1rem;
    
    display: flex;
    align-items: center;
    flex-direction: column;

    border-radius: 15px;
    background-color: white;

    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0,0,0,0.15);
}

.quote-box h2 {
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}

.quote-box h2::after {
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: #177ce5;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
}

.quote-box blockquote {
    font-size: 26px;
    min-height: 110px;
}

.quote-box blockquote::before, .quote-box blockquote::after {
    content: ' " ';
}

.quote-box span {
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

.quote-box span::before {
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(23, 124, 229);
    position: absolute;
    top: 50%;
    left: -30px;
}

.everybutton {
    width: 100%;
    margin-top: 20px;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.quote-box button img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

button#new-quote {
    background: #177ce5;
    color: #fff;
    border-radius: 25px;
    border: 1px solid #177ce5;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}


button#share{
    background: #177ce5;
    color: #fff;
    border-radius: 25px;
    border: 1px solid #177ce5;
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    color: #333;
}

.otherButtons {
    gap: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


button.socialButton {
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background-color: white;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
}

button.socialButton:hover{
    transition: 0.5s;
    transform: translate(0, -10px);
}

button.socialButton:hover svg{
    fill: #ffffff;
    color: "#fff";
}

button#copy:hover {
    background-color: #3a5999;
}

button#speak:hover {
    background-color: #25d366;
}


@media screen and (min-width: 426px) and (max-width: 768px) {
    .quote-box  {
        width: 85%;
        max-width: 800px;
        
        height: fit-content;
        max-height: 90vh;
    
        padding: 1.5rem 2rem;
        overflow: auto;
    }

}

@media screen and (min-width: 769px) {
    .quote-box  {
        width: 70%;
        max-width: 800px;
        
        height: fit-content;
        max-height: 80vh;
    
        padding: 1.5rem 2rem;
        overflow: auto;
    }
}

@media screen and (min-width: 600px) {
    .everybutton {
        gap: 0;
        flex-direction: row;
    }

    svg {
        width: 25px;
        height: 25px;
    }

    button.socialButton {
        width: 50px;
        height: 50px;
    }
    
}
